Liteary Prizes 

Data Wrangling Stage

Make sure to:
*show understanding of how to acquire, organize, define and clean data.
*include data sets that are well-chosen and relevant to the problem
*demonstrate data-supported decisions on how to handle missing values, duplicates and outliers as needed

In [1]:
#Import the important packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Come back (CB) to add more packages as necessary

In [3]:
#Load the data
#The data is a .tsv file, which I've never seen before so...
#https://stackoverflow.com/questions/48583002/how-to-open-a-tsv-file-in-jupyter-jupyter-notebook-tried-suggestions-but-it-d

#Also, I hadn't pushed the .tsv to my GitHub, but after I did,
#I clicked raw data, c+p into read_csv(), and added the sep='\t' argument

df = pd.read_csv('https://raw.githubusercontent.com/abigwind/literary-prizes/main/winnersandjudges.tsv', sep='\t')

In [12]:
#Check out the data, see if it worked
df.head(28)

,person_id,full_name,given_name,last_name,gender,elite_institution,graduate_degree,mfa_degree,iowa_mfa_person_id,stegner,role,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
0,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1981,poetry,book,10000.0,The Need To Hold Still: Poems
1,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
2,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
3,1891,Reuben Bercovitch,Reuben,Bercovitch,unknown,NaN,NaN,NaN,NaN,NaN,winner,PEN America,Hemingway Award for Debut Novel,1979,prose,book,10000.0,Hasen
4,1807,Pauline Hanson,Pauline,Hanson,unknown,NaN,NaN,NaN,NaN,NaN,winner,American Academy of Arts and Letters,Arts and Letters Awards,1972,no genre,career,10000.0,NaN
5,1032,Jean Valentine,Jean,Valentine,female,Radcliffe College,graduate,NaN,NaN,NaN,winner,Yale University,Bollingen Prize for Poetry,2017,poetry,career,10000.0,NaN
6,123,Andrea Lawlor,Andrea,Lawlor,nonbinary/they,NaN,graduate,"University of Massachusetts, Amherst",NaN,NaN,winner,Whiting Foundation,Whiting Award,2020,no genre,career,50000.0,NaN
7,1295,Kayleb Rae Candrilli,Kayleb Rae,Candrilli,nonbinary/they,NaN,graduate,University of Alabama,NaN,NaN,winner,Whiting Foundation,Whiting Award,2019,no genre,career,50000.0,NaN
8,1872,Raquelsalas Rivera,Raquelsalas,Rivera,nonbinary/he,University of Pennsylvania,graduate,NaN,NaN,NaN,judge,Academy of American Poets,Lenore Marshall Poetry Prize,2020,poetry,book,25000.0,A Fortune For Your Disaster
9,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1954,prose,book,15000.0,The Waking
10,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1941,prose,book,15000.0,Sunderland Capture
11,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,2012,prose,book,15000.0,No Winner
12,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1974,prose,book,15000.0,No Winner
13,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1971,prose,book,15000.0,No Winner
14,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1964,prose,book,15000.0,No Winner
15,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1957,prose,book,15000.0,No Winner
16,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1946,poetry,book,15000.0,No Winner
17,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1946,prose,book,15000.0,No Winner
18,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Academy of American Poets,Academy of American Poets Fellowship,1951,poetry,career,25000.0,NaN
19,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Yale University,Bollingen Prize for Poetry,1953,poetry,career,10000.0,NaN
20,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1956,poetry,career,35000.0,NaN
21,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1955,poetry,career,35000.0,NaN
22,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1954,poetry,career,35000.0,NaN
23,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1953,poetry,career,35000.0,NaN
24,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1952,poetry,career,35000.0,NaN
25,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1942,poetry,career,35000.0,NaN
26,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1941,poetry,career,35000.0,NaN
27,580,Dinaw Mengestu,Dinaw,Mengestu,male,Columbia University,graduate,Columbia University,NaN,NaN,judge,PEN America,Robert W. Bingham Prize for Debut Short Story ...,2012,prose,book,25000.0,Zazen

In [4]:
#NICE! Okay, time to start finding some data! 
#Calling the info() to see a summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7133 entries, 0 to 7132
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person_id              7133 non-null   int64
 1   full_name              7133 non-null   object
 2   given_name             7133 non-null   object
 3   last_name              7133 non-null   object
 4   gender                 7133 non-null   object
 5   elite_institution      3329 non-null   object
 6   graduate_degree        4775 non-null   object
 7   mfa_degree             1900 non-null   object
 8   iowa_mfa_person_id     735 non-null    object
 9   stegner                344 non-null    object
 10  role                   7133 non-null   object
 11  prize_institution      7133 non-null   object
 12  prize_name             7133 non-null   object
 13  prize_year             7133 non-null   int64
 14  prize_genre            7133 non-null   object
 15  prize_type             7133 non-null   object
 16  prize_amount           7133 non-null   float64
 17  title_of_winning_book  2809 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 1003.2+ KB

It looks like we have a lot of full columns (names, gender, prize info), but we're severly missing in the Iowa MFA and Stegner columns, as well as less than half of the elite institution, MFA degree, and title of winning book columns. The graduate degree column is also missing 33% of it's data. 

I know that this dataset was connected to another specifically tracking graduates of Iowa's MFA program, which is why that column exists here, but for my purposes, I don't need to know an author's ID number so I want to drop that column.

But first let me see the first five rows for a baseline to use in future sanity checks

In [5]:
df.head()

,person_id,full_name,given_name,last_name,gender,elite_institution,graduate_degree,mfa_degree,iowa_mfa_person_id,stegner,role,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
0,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1981,poetry,book,10000.0,The Need To Hold Still: Poems
1,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
2,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
3,1891,Reuben Bercovitch,Reuben,Bercovitch,unknown,NaN,NaN,NaN,NaN,NaN,winner,PEN America,Hemingway Award for Debut Novel,1979,prose,book,10000.0,Hasen
4,1807,Pauline Hanson,Pauline,Hanson,unknown,NaN,NaN,NaN,NaN,NaN,winner,American Academy of Arts and Letters,Arts and Letters Awards,1972,no genre,career,10000.0,NaN

In [6]:
#df = df.drop(columns='iowa_mfa_person_id', inplace=True)

In [7]:
#df.head()

Looks like I messed up. Here's my code: df = df.drop(columns='iowa_mfa_person_id', inplace=True) so I think what happeend was that I saved df as the dropped column

In [8]:
#print(type(df))

Start over! I'm going to comment out my previous code and try again.

In [9]:
#I did not specify the axis in this line of code and so data got shifted.
#df.drop(columns='iowa_mfa_person_id', inplace=True)

#Here is the revised code
df.drop(columns='iowa_mfa_person_id', axis=1, inplace=True)
df.head()

,person_id,full_name,given_name,last_name,gender,elite_institution,graduate_degree,mfa_degree,stegner,role,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
0,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1981,poetry,book,10000.0,The Need To Hold Still: Poems
1,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
2,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
3,1891,Reuben Bercovitch,Reuben,Bercovitch,unknown,NaN,NaN,NaN,NaN,winner,PEN America,Hemingway Award for Debut Novel,1979,prose,book,10000.0,Hasen
4,1807,Pauline Hanson,Pauline,Hanson,unknown,NaN,NaN,NaN,NaN,winner,American Academy of Arts and Letters,Arts and Letters Awards,1972,no genre,career,10000.0,NaN

But now I'm scared that I lost data on authors who went to Iowa. Let's do a quick search for Iowa in 'elite_institution'.

In [10]:
#iowa = df[df['elite_institution'] == '*Iowa*']

In [11]:
#print(iowa)

Hmmm it's giving me an empty set. Maybe I'm doing this wrong. I'm going to comment out the above and try something else.

In [12]:
#Trying to find Iowa in here
df['elite_institution'].value_counts()

Harvard University                                                        742
Columbia University                                                       638
Stanford University                                                       392
Yale University                                                           387
Princeton University                                                      215
                                                                         ...
Princeton University, Cornell University                                    1
Barnard College, Brown University, Stanford University                      1
Harvard University, University of Pennsylvania                              1
University of Pennsylvania, University of Chicago, Columbia University      1
Columbia University, University of Pennsylvania                             1
Name: elite_institution, Length: 71, dtype: int64

Okay, we're seeing something new about the Ivy League schools (Brown, Columnbai, Cornell, Dartmouth, Harvard, University of Pennsylvania, Princeton, Yale). I'm noticing that at the bottom, some rows have multiple schools. This will need a fix later in the code.

In [13]:
#Finding the percentages 
df['elite_institution'].value_counts(normalize=True)

Harvard University                                                        0.222890
Columbia University                                                       0.191649
Stanford University                                                       0.117753
Yale University                                                           0.116251
Princeton University                                                      0.064584
                                                                            ...
Princeton University, Cornell University                                  0.000300
Barnard College, Brown University, Stanford University                    0.000300
Harvard University, University of Pennsylvania                            0.000300
University of Pennsylvania, University of Chicago, Columbia University    0.000300
Columbia University, University of Pennsylvania                           0.000300
Name: elite_institution, Length: 71, dtype: float64

Dang! Harvard makes up at least 22% of the authors' connection to an institution. I need to find out if that means they went there, graduated from there, and/or worked there, but for now, that's a pretty big number.

Now that I've mentioned work though, it has me thinking about the different roles: winner and judge. It might be time to separate the two into subset dataframes.

In [14]:
df['role'].value_counts()

judge     4338
winner    2795
Name: role, dtype: int64

Something to think about in the future is whether and how many winners are also judges at some point

In [15]:
#Create a winners dataframe
winners = df[df['role']=='winner']
winners.head()

,person_id,full_name,given_name,last_name,gender,elite_institution,graduate_degree,mfa_degree,stegner,role,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
3,1891,Reuben Bercovitch,Reuben,Bercovitch,unknown,NaN,NaN,NaN,NaN,winner,PEN America,Hemingway Award for Debut Novel,1979,prose,book,10000.0,Hasen
4,1807,Pauline Hanson,Pauline,Hanson,unknown,NaN,NaN,NaN,NaN,winner,American Academy of Arts and Letters,Arts and Letters Awards,1972,no genre,career,10000.0,NaN
5,1032,Jean Valentine,Jean,Valentine,female,Radcliffe College,graduate,NaN,NaN,winner,Yale University,Bollingen Prize for Poetry,2017,poetry,career,10000.0,NaN
6,123,Andrea Lawlor,Andrea,Lawlor,nonbinary/they,NaN,graduate,"University of Massachusetts, Amherst",NaN,winner,Whiting Foundation,Whiting Award,2020,no genre,career,50000.0,NaN
7,1295,Kayleb Rae Candrilli,Kayleb Rae,Candrilli,nonbinary/they,NaN,graduate,University of Alabama,NaN,winner,Whiting Foundation,Whiting Award,2019,no genre,career,50000.0,NaN

In [16]:
#Let's double check the size. We should have 2795 rows
winners.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2795 entries, 3 to 7130
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person_id              2795 non-null   int64
 1   full_name              2795 non-null   object
 2   given_name             2795 non-null   object
 3   last_name              2795 non-null   object
 4   gender                 2795 non-null   object
 5   elite_institution      1111 non-null   object
 6   graduate_degree        1822 non-null   object
 7   mfa_degree             821 non-null    object
 8   stegner                142 non-null    object
 9   role                   2795 non-null   object
 10  prize_institution      2795 non-null   object
 11  prize_name             2795 non-null   object
 12  prize_year             2795 non-null   int64
 13  prize_genre            2795 non-null   object
 14  prize_type             2795 non-null   object
 15  prize_amount           2795 non-null   float64
 16  title_of_winning_book  732 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 393.0+ KB

In [17]:
#Perfect. Let's do the same with the judges.
judges = df[df['role']=='judge']
judges.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4338 entries, 0 to 7132
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person_id              4338 non-null   int64
 1   full_name              4338 non-null   object
 2   given_name             4338 non-null   object
 3   last_name              4338 non-null   object
 4   gender                 4338 non-null   object
 5   elite_institution      2218 non-null   object
 6   graduate_degree        2953 non-null   object
 7   mfa_degree             1079 non-null   object
 8   stegner                202 non-null    object
 9   role                   4338 non-null   object
 10  prize_institution      4338 non-null   object
 11  prize_name             4338 non-null   object
 12  prize_year             4338 non-null   int64
 13  prize_genre            4338 non-null   object
 14  prize_type             4338 non-null   object
 15  prize_amount           4338 non-null   float64
 16  title_of_winning_book  2077 non-null   object
dtypes: float64(1), int64(2), object(14)
memory usage: 610.0+ KB

In [18]:
#But let's not forget about Iowa. 
#I need to find a way to see all the elite institutions
[institute for institute in df['elite_institution'] ]

[nan,
 nan,
 nan,
 nan,
 nan,
 'Radcliffe College',
 nan,
 nan,
 'University of Pennsylvania',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'Columbia University',
 'Columbia University',
 nan,
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 'Stanford University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 'Cornell University',
 nan,
 'Yale University',
 'Columbia University',
 nan,
 'Stanford University',
 nan,
 'University of Pennsylvania',
 'Harvard University',
 'Stanford University',
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 'Yale University',
 'Yale University',
 'Yale University',
 nan,
 nan,
 nan,
 'Stanford University',
 'Harvard University, Cornell University',
 'Princeton University',
 nan,
 'Stanford University',
 nan,
 nan,
 'Harvard University',
 nan,
 'Columbia University',
 nan,
 'Stanford University',
 nan,
 'Stanford University',
 'Harvard University, Stanford University',
 nan,
 nan,
 nan,
 'Harvard University, Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Yale University',
 nan,
 nan,
 'Harvard University',
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Columbia University',
 'Harvard University',
 'Harvard University',
 'Brown University',
 nan,
 'Columbia University',
 'Princeton University',
 'Columbia University',
 nan,
 'Princeton University',
 nan,
 nan,
 'Yale University',
 nan,
 nan,
 'Harvard University, Brown University, Stanford University',
 nan,
 nan,
 nan,
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 nan,
 'Stanford University, Yale University',
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'Stanford University',
 'Stanford University',
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 'University of Pennsylvania',
 'Stanford University',
 'Harvard University',
 'Harvard University',
 'Harvard University',
 'Columbia University',
 nan,
 'Princeton University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Brown University',
 'Brown University',
 'University of Pennsylvania, Yale University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 'Stanford University',
 'Yale University',
 nan,
 nan,
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 'Stanford University',
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 'Columbia University',
 'Harvard University',
 nan,
 nan,
 'Stanford University, Harvard University',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 'University of Pennsylvania',
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Princeton University, Harvard University',
 nan,
 'Stanford University, Harvard University',
 'Harvard University',
 'Harvard University',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 'Dartmouth College',
 nan,
 nan,
 'Stanford University',
 'University of Chicago, Stanford University',
 'Harvard University',
 'Harvard University',
 nan,
 'Stanford University',
 nan,
 nan,
 'Stanford University',
 'University of Chicago, Columbia University',
 'Columbia University',
 'Dartmouth College, Harvard University, Princeton University',
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 'Harvard University',
 nan,
 nan,
 'Princeton University, Stanford University',
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Princeton University, Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 nan,
 nan,
 nan,
 nan,
 'University of Pennsylvania',
 'Yale University',
 'Stanford University',
 nan,
 nan,
 'Harvard University',
 'Yale University',
 'Princeton University',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 'Princeton University',
 'Columbia University',
 'Stanford University, Yale University',
 'University of Pennsylvania',
 nan,
 nan,
 nan,
 'Princeton University',
 'Dartmouth College, Harvard University, Princeton University',
 'Dartmouth College, Columbia University',
 'Columbia University',
 nan,
 nan,
 'Harvard University',
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Stanford University, Yale University',
 'Princeton University, Cornell University',
 nan,
 nan,
 'Stanford University',
 'Cornell University',
 nan,
 'Harvard University',
 'University of Chicago',
 nan,
 nan,
 'Dartmouth College',
 nan,
 'University of Pennsylvania',
 nan,
 'University of Pennsylvania',
 'University of Chicago',
 nan,
 nan,
 'University of Pennsylvania',
 'Harvard University',
 'Harvard University',
 nan,
 'Cornell University',
 'Brown University, Columbia University',
 nan,
 'Princeton University',
 'Princeton University, Stanford University',
 'Yale University',
 'University of Chicago',
 'Stanford University, Columbia University',
 nan,
 nan,
 'Stanford University',
 nan,
 nan,
 'Columbia University',
 'Columbia University',
 'Harvard University',
 nan,
 'Harvard University, Columbia University',
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 'Columbia University',
 nan,
 'Princeton University',
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 'Stanford University',
 'Stanford University',
 nan,
 nan,
 'Yale University',
 'Columbia University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University, Harvard University',
 'Harvard University',
 'Princeton University',
 nan,
 'University of Chicago',
 'University of Chicago',
 'Columbia University',
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 nan,
 'Harvard University',
 'Yale University, Columbia University',
 'Harvard University, Stanford University',
 'Harvard University',
 'Columbia University',
 'Harvard University',
 'Stanford University',
 'Harvard University',
 'Columbia University',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 'Stanford University, Yale University',
 nan,
 'Harvard University',
 nan,
 'Columbia University',
 'Dartmouth College, Harvard University, Princeton University',
 nan,
 nan,
 'Columbia University',
 'Harvard University',
 nan,
 nan,
 'Yale University',
 nan,
 'Harvard University',
 nan,
 nan,
 'Brown University',
 nan,
 'University of Chicago',
 'Stanford University',
 'Stanford University',
 'Stanford University',
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 'Columbia University',
 'Columbia University',
 nan,
 'Stanford University',
 'Harvard University, Stanford University',
 'Princeton University',
 'University of Chicago',
 nan,
 'Cornell University, Columbia University',
 nan,
 nan,
 'Harvard University',
 'Columbia University',
 'Stanford University',
 'Harvard University',
 nan,
 'Stanford University',
 'Harvard University',
 'Brown University',
 'Cornell University',
 'Columbia University',
 'Yale University',
 nan,
 'Cornell University, Columbia University',
 'Columbia University',
 nan,
 'Yale University',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Princeton University',
 nan,
 'University of Chicago',
 'Yale University',
 'Columbia University',
 nan,
 'Yale University',
 nan,
 'Yale University',
 'University of Chicago',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Harvard University',
 nan,
 nan,
 'Stanford University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'Yale University',
 'Princeton University',
 'Harvard University',
 nan,
 'Yale University, Princeton University',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 'Yale University',
 nan,
 'Yale University',
 nan,
 'Harvard University',
 nan,
 'Harvard University',
 'Columbia University',
 nan,
 'Harvard University',
 nan,
 'Cornell University, Columbia University',
 'Yale University',
 'Stanford University',
 'Stanford University',
 nan,
 nan,
 'Brown University',
 'Yale University',
 'Columbia University',
 'Stanford University',
 'Stanford University',
 nan,
 nan,
 'Brown University, University of Chicago',
 'Columbia University',
 'Brown University',
 'Brown University',
 nan,
 'Cornell University',
 'Yale University, Princeton University',
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'Harvard University',
 nan,
 nan,
 'Harvard University',
 nan,
 'University of Chicago',
 'Columbia University',
 nan,
 'Princeton University',
 nan,
 'Harvard University',
 nan,
 'Princeton University, Harvard University',
 'Harvard University',
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 'University of Chicago',
 'Stanford University',
 nan,
 'Harvard University, University of Pennsylvania',
 'Harvard University',
 'Dartmouth College',
 nan,
 'Harvard University',
 'Stanford University',
 nan,
 'Harvard University',
 'Harvard University',
 'Columbia University',
 'Columbia University',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 'Columbia University',
 'Stanford University',
 'Harvard University',
 'Columbia University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'Columbia University',
 nan,
 'Princeton University',
 nan,
 nan,
 'Dartmouth College',
 'Columbia University',
 nan,
 'Cornell University',
 'Cornell University',
 'Stanford University, Yale University',
 nan,
 nan,
 'Yale University, Princeton University',
 'Harvard University',
 nan,
 'Harvard University',
 nan,
 nan,
 'Columbia University',
 nan,
 'Stanford University',
 nan,
 nan,
 'Stanford University',
 'Harvard University',
 nan,
 nan,
 nan,
 'Stanford University',
 'Yale University',
 nan,
 nan,
 'Harvard University',
 'Columbia University',
 nan,
 'Princeton University',
 nan,
 nan,
 nan,
 'Cornell University, Columbia University, Stanford University',
 'Stanford University',
 'Princeton University',
 nan,
 nan,
 'Yale University',
 'Columbia University',
 nan,
 'Harvard University',
 'Columbia University',
 nan,
 nan,
 'Stanford University',
 nan,
 'Stanford University',
 'Columbia University',
 nan,
 nan,
 'Harvard University',
 nan,
 'Columbia University',
 'Stanford University, Harvard University',
 'Yale University',
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 'Yale University',
 nan,
 nan,
 nan,
 'Princeton University, Harvard University',
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 'Cornell University',
 nan,
 'Yale University',
 'Harvard University',
 nan,
 'Harvard University',
 'Harvard University',
 'Dartmouth College, Harvard University, Princeton University',
 'Brown University',
 nan,
 'Princeton University',
 nan,
 nan,
 'Stanford University',
 'Harvard University',
 'Columbia University',
 nan,
 'Yale University',
 nan,
 'Yale University',
 'Harvard University',
 'Columbia University',
 nan,
 'Yale University',
 'Yale University',
 'Yale University',
 'Princeton University',
 nan,
 'Yale University',
 nan,
 nan,
 'Stanford University',
 'Harvard University',
 'University of Chicago',
 'Columbia University',
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 'University of Chicago, Columbia University',
 'Harvard University',
 'Columbia University',
 nan,
 'Harvard University',
 nan,
 'Columbia University',
 nan,
 'Princeton University, Stanford University',
 'Princeton University',
 nan,
 nan,
 nan,
 'Brown University, Columbia University',
 nan,
 nan,
 'Harvard University',
 'Harvard University',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 'Columbia University',
 nan,
 'Stanford University',
 nan,
 'Stanford University',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 'Yale University',
 nan,
 nan,
 'Stanford University',
 'Columbia University',
 nan,
 nan,
 'Columbia University',
 'University of Pennsylvania',
 nan,
 nan,
 'Yale University',
 nan,
 'Yale University',
 'Harvard University, Columbia University',
 'Harvard University, Columbia University',
 'Harvard University',
 'Columbia University',
 'Columbia University',
 nan,
 'Yale University, Harvard University',
 nan,
 'Dartmouth College',
 nan,
 'Harvard University',
 nan,
 'Yale University',
 'Yale University',
 'Harvard University, Columbia University',
 'Harvard University, Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Yale University',
 'Stanford University',
 'Princeton University',
 'Princeton University',
 'Harvard University',
 'Harvard University',
 'Dartmouth College',
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Yale University',
 'Yale University',
 'University of Pennsylvania',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'University of Pennsylvania',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'University of Chicago',
 'Harvard University',
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 'Cornell University, Columbia University',
 'Columbia University',
 nan,
 'Stanford University',
 'University of Chicago',
 nan,
 nan,
 'Stanford University, Harvard University',
 nan,
 'Harvard University',
 nan,
 'Columbia University',
 nan,
 'University of Chicago',
 nan,
 nan,
 nan,
 'Stanford University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 'Stanford University',
 'Dartmouth College',
 nan,
 nan,
 nan,
 'Harvard University',
 'Columbia University',
 nan,
 'Harvard University',
 nan,
 'Harvard University',
 nan,
 'Stanford University',
 'Harvard University',
 nan,
 nan,
 'Stanford University',
 'Princeton University',
 'Harvard University',
 'Harvard University',
 'Stanford University',
 'Harvard University',
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Princeton University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 'Harvard University',
 nan,
 'Stanford University',
 nan,
 nan,
 nan,
 nan,
 'Stanford University',
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 'Harvard University',
 'University of Pennsylvania',
 nan,
 'University of Pennsylvania',
 'Brown University',
 'Yale University, Columbia University',
 'Yale University',
 'Harvard University',
 'Cornell University',
 'Princeton University',
 'Princeton University',
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 nan,
 nan,
 'Brown University',
 'Harvard University',
 nan,
 nan,
 'Brown University',
 nan,
 nan,
 'Stanford University',
 nan,
 nan,
 'Yale University, Harvard University',
 nan,
 nan,
 nan,
 'University of Chicago',
 nan,
 'Stanford University',
 'Harvard University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 nan,
 nan,
 'Harvard University',
 nan,
 nan,
 'Stanford University, Yale University',
 nan,
 'University of Chicago',
 nan,
 nan,
 'Harvard University',
 nan,
 'Harvard University',
 'Columbia University',
 nan,
 nan,
 nan,
 'University of Chicago',
 ...]

This isn't perfect, and I'd like to include a conditional in here, but I haven't got it yet. Either way, I'm not seeing Iowa from a cursory look. Which might be the reason the dataframe with Iowa was coming up empty. Let's try in the mfa_degree column.

In [19]:
#Checking through institutes with a list comprehension 
#on the column 'mfa_degree'
[institute for institute in df['mfa_degree'] ]

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Massachusetts, Amherst',
 'University of Alabama',
 nan,
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Montana',
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 'University of Iowa',
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bennington College',
 nan,
 nan,
 nan,
 'Warren Wilson College',
 nan,
 nan,
 'University of Oregon',
 nan,
 'Washington University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Ohio State University',
 'University of Texas, El Paso',
 nan,
 'Cornell University',
 nan,
 'University of Montana',
 nan,
 nan,
 nan,
 nan,
 'University of Maryland',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Vermont College of Fine Arts ',
 'Long Island University',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Montana',
 'University of Iowa',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Warren Wilson College',
 'Brown University',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 'Syracuse University',
 nan,
 'University of Iowa',
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Washington University',
 'University of Pittsburgh',
 'Brown University',
 nan,
 nan,
 'Yale University',
 'University of Illinois',
 'Institute of American Indian Arts',
 'Institute of American Indian Arts',
 'Institute of American Indian Arts',
 'Columbia University',
 'Columbia University',
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 'University of Montana',
 nan,
 nan,
 'University of Texas, Austin',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'Univeristy of California, Irvine',
 nan,
 nan,
 'University of Iowa',
 'Univeristy of California, Irvine',
 nan,
 'University of Iowa',
 'Univeristy of California, Irvine',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 'Yale University',
 'University of Iowa',
 nan,
 'University of Pittsburgh',
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 'University of New Orleans',
 'University of Maryland',
 nan,
 nan,
 nan,
 nan,
 'University of Montana',
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Washington',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 'New York University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'University of New Orleans',
 'School of Art Institute of Chicago',
 'New School for Social Research',
 nan,
 nan,
 nan,
 nan,
 nan,
 'McNeese State University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Cornell University',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 'Univeristy of California, Irvine',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 'Brown University',
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 nan,
 'Cornell University',
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Indiana University',
 nan,
 'University of Florida',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Goddard College',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bowling Green State University',
 'University of Iowa',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Chicago',
 'Columbia University',
 'Brown University',
 'Brown University',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Arkansas',
 'Cornell University',
 'Cornell University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Montana',
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 'University of Southern California',
 'University of Montana',
 'University of Massachusetts, Amherst',
 nan,
 nan,
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Yale University',
 'University of Texas, Austin',
 nan,
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Montana',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'University of Alabama',
 nan,
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Columbia University',
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 'University of Southern California',
 'University of Montana',
 'Johns Hopkins University',
 nan,
 nan,
 'Columbia University',
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Washington',
 'University of Iowa',
 nan,
 nan,
 'University of Iowa',
 nan,
 'Florida International University',
 'Columbia University',
 nan,
 'Warren Wilson College',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Arkansas',
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Hollins College',
 'University of Southern California',
 'University of North Carolina',
 'University of Montana',
 nan,
 'Columbia University',
 nan,
 nan,
 'Yale University',
 nan,
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 'Johns Hopkins University',
 nan,
 'University of Montana',
 'Univeristy of California, Irvine',
 nan,
 nan,
 'McNeese State University',
 nan,
 nan,
 'University of Washington',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Southern California',
 'University of Montana',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Johns Hopkins University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'Brown University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 'University of Iowa',
 nan,
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 'San Francisco State University',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 'New York University',
 'New York University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

That's the ticket! But I'm seeing 'No Winner' which must mean that those rows are from people who are judges. Let's check what this list comprehension does in the winners dataframe.

In [20]:
#List comprehension on just the winners dataframe
[institute for institute in winners['mfa_degree'] ]

[nan,
 nan,
 nan,
 'University of Massachusetts, Amherst',
 'University of Alabama',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 'No Winner',
 nan,
 'University of Iowa',
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 'Ohio State University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Washington University',
 nan,
 'Institute of American Indian Arts',
 'Institute of American Indian Arts',
 'Institute of American Indian Arts',
 'Univeristy of California, Irvine',
 nan,
 'University of Texas, Austin',
 'University of Iowa',
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Pittsburgh',
 nan,
 nan,
 'University of New Orleans',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'School of Art Institute of Chicago',
 nan,
 nan,
 'McNeese State University',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 nan,
 nan,
 'Brown University',
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bowling Green State University',
 'University of Iowa',
 nan,
 nan,
 nan,
 'University of Chicago',
 'Columbia University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 'Cornell University',
 'Cornell University',
 nan,
 nan,
 'University of Massachusetts, Amherst',
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Texas, Austin',
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 nan,
 'University of Iowa',
 'Johns Hopkins University',
 nan,
 'University of Iowa',
 nan,
 'University of Washington',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Hollins College',
 'University of North Carolina',
 nan,
 nan,
 nan,
 nan,
 'University of Montana',
 nan,
 'University of Washington',
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'New York University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Univeristy of California, Irvine',
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'University of Oregon',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 nan,
 nan,
 'University of Iowa',
 nan,
 'California Institute of the Arts',
 nan,
 nan,
 'University of Virginia',
 nan,
 nan,
 'New School for Social Research',
 'University of Iowa',
 'University of Pittsburgh',
 nan,
 nan,
 nan,
 'University of Montana',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'George Mason University',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 nan,
 'University of Iowa',
 'Cornell University',
 'University of Arizona',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Eastern Washington University',
 'University of Iowa',
 nan,
 nan,
 'Syracuse University',
 'McNeese State University',
 'Goddard College',
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 'University of Texas, El Paso',
 nan,
 nan,
 nan,
 nan,
 'University of Arizona',
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'New York University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Iowa',
 nan,
 'University of Iowa',
 'University of Maryland',
 'Sarah Lawrence College',
 'Yale University',
 nan,
 nan,
 'Sarah Lawrence College',
 nan,
 nan,
 nan,
 nan,
 'Brown University',
 'University of Montana',
 'University of Iowa',
 'Columbia University',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 'Vermont College of Fine Arts ',
 nan,
 nan,
 nan,
 'University of Iowa',
 'University of Iowa',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Indiana University',
 nan,
 nan,
 nan,
 nan,
 'Columbia University',
 'University of Texas, Austin',
 nan,
 'Bowling Green State University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Washington University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'University of Texas, Austin',
 'University of Iowa',
 nan,
 nan,
 'Columbia University',
 'University of Michigan',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Yale University',
 'Yale University',
 'Yale University',
 'Yale University',
 'Yale University',
 'Yale University',
 'Yale University',
 'Yale University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Washington University',
 'Warren Wilson College',
 'Warren Wilson College',
 'Warren Wilson College',
 'Warren Wilson College',
 'Warren Wilson College',
 'Warren Wilson College',
 'Warren Wilson College',
 'Warren Wilson College',
 'Virginia Commonwealth University',
 'Vermont College of Fine Arts ',
 'Vermont College of Fine Arts ',
 'University of Washington',
 'University of Washington',
 'University of Washington',
 'University of Virginia',
 'University of Virginia',
 'University of Virginia',
 'University of Virginia',
 'University of Virginia',
 'University of Virginia',
 'University of Texas, El Paso',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of Texas, Austin',
 'University of San Francisco',
 'University of Pittsburgh',
 'University of Pittsburgh',
 'University of Pittsburgh',
 'University of Pittsburgh',
 'University of Pittsburgh',
 'University of Pittsburgh',
 'University of Oregon',
 'University of Oregon',
 'University of Oregon',
 'University of Oregon',
 'University of Oregon',
 'University of Oregon',
 'University of North Carolina, Greensboro',
 'University of North Carolina, Greensboro',
 'University of New Orleans',
 'University of New Orleans',
 'University of Nevada',
 'University of Montana',
 'University of Montana',
 'University of Mississippi',
 'University of Minnesota',
 'University of Michigan',
 'University of Michigan',
 'University of Michigan',
 'University of Michigan',
 'University of Michigan',
 'University of Michigan',
 'University of Michigan',
 'University of Massachusetts, Amherst',
 'University of Maryland',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Iowa',
 'University of Illinois',
 'University of Houston',
 'University of Houston',
 'University of Houston',
 'University of Houston',
 'University of Florida',
 'University of Florida',
 'University of Colorado',
 'University of Arkansas',
 'University of Arkansas',
 'University of Arkansas',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Arizona',
 'University of Alabama',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Univeristy of California, Irvine',
 'Tisch School of the Arts',
 'Texas State University',
 'Temple University',
 'Syracuse University',
 'Spalding University',
 'Southern Illinois State University',
 'Southern Illinois State University',
 'Southern Illinois State University',
 'Southern Illinois State University',
 'Oregon State University',
 'Ohio State University',
 'Northwestern University',
 'North Carolina State University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New York University',
 'New School for Social Research',
 'Mills College',
 'McNeese State University',
 'McNeese State University',
 'Johns Hopkins University',
 'Johns Hopkins University',
 'Johns Hopkins University',
 'Johns Hopkins University',
 'Johns Hopkins University',
 'Institute of American Indian Arts',
 'Indiana University',
 'Indiana University',
 'Indiana University',
 'Indiana University',
 'Indiana University',
 'Indiana University',
 'Hollins College',
 'Goddard College',
 'Goddard College',
 'George Mason University',
 'Cornell University',
 'Cornell University',
 'Cornell University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'Columbia University',
 'City College of New York',
 'California Institute of the Arts',
 'Butler University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brown University',
 'Brooklyn College',
 'Brooklyn College',
 'Bowling Green State University, Boise State University',
 'Bowling Green State University',
 'Boston University',
 'Art Institute of Chicago',
 'American University',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

Hmmm that didn't seem to work. I'm going to look again at the winners dataframe but maybe the first 20 rows.

In [21]:
winners.head(20)

,person_id,full_name,given_name,last_name,gender,elite_institution,graduate_degree,mfa_degree,stegner,role,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
3,1891,Reuben Bercovitch,Reuben,Bercovitch,unknown,NaN,NaN,NaN,NaN,winner,PEN America,Hemingway Award for Debut Novel,1979,prose,book,10000.0,Hasen
4,1807,Pauline Hanson,Pauline,Hanson,unknown,NaN,NaN,NaN,NaN,winner,American Academy of Arts and Letters,Arts and Letters Awards,1972,no genre,career,10000.0,NaN
5,1032,Jean Valentine,Jean,Valentine,female,Radcliffe College,graduate,NaN,NaN,winner,Yale University,Bollingen Prize for Poetry,2017,poetry,career,10000.0,NaN
6,123,Andrea Lawlor,Andrea,Lawlor,nonbinary/they,NaN,graduate,"University of Massachusetts, Amherst",NaN,winner,Whiting Foundation,Whiting Award,2020,no genre,career,50000.0,NaN
7,1295,Kayleb Rae Candrilli,Kayleb Rae,Candrilli,nonbinary/they,NaN,graduate,University of Alabama,NaN,winner,Whiting Foundation,Whiting Award,2019,no genre,career,50000.0,NaN
9,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1954,prose,book,15000.0,The Waking
10,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1941,prose,book,15000.0,Sunderland Capture
11,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,2012,prose,book,15000.0,No Winner
12,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1974,prose,book,15000.0,No Winner
13,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1971,prose,book,15000.0,No Winner
14,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1964,prose,book,15000.0,No Winner
15,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1957,prose,book,15000.0,No Winner
16,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1946,poetry,book,15000.0,No Winner
17,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1946,prose,book,15000.0,No Winner
18,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Academy of American Poets,Academy of American Poets Fellowship,1951,poetry,career,25000.0,NaN
19,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Yale University,Bollingen Prize for Poetry,1953,poetry,career,10000.0,NaN
20,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1956,poetry,career,35000.0,NaN
21,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1955,poetry,career,35000.0,NaN
22,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1954,poetry,career,35000.0,NaN
23,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Library of Congress,Poet Laureate,1953,poetry,career,35000.0,NaN

WHOA something went really wrong. I'm seeing a bunch of rows without winners. Did an index get misplaced? What happened? Let's see if the original dataset is messed up post the column being dropped.

In [22]:
df.head(20)

,person_id,full_name,given_name,last_name,gender,elite_institution,graduate_degree,mfa_degree,stegner,role,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
0,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1981,poetry,book,10000.0,The Need To Hold Still: Poems
1,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
2,922,Inge Judd,Inge,Judd,unknown,NaN,NaN,NaN,NaN,judge,National Book Foundation,National Book Award,1982,prose,book,10000.0,"Rabbit Is Rich & So Long, See You Tomorrow"
3,1891,Reuben Bercovitch,Reuben,Bercovitch,unknown,NaN,NaN,NaN,NaN,winner,PEN America,Hemingway Award for Debut Novel,1979,prose,book,10000.0,Hasen
4,1807,Pauline Hanson,Pauline,Hanson,unknown,NaN,NaN,NaN,NaN,winner,American Academy of Arts and Letters,Arts and Letters Awards,1972,no genre,career,10000.0,NaN
5,1032,Jean Valentine,Jean,Valentine,female,Radcliffe College,graduate,NaN,NaN,winner,Yale University,Bollingen Prize for Poetry,2017,poetry,career,10000.0,NaN
6,123,Andrea Lawlor,Andrea,Lawlor,nonbinary/they,NaN,graduate,"University of Massachusetts, Amherst",NaN,winner,Whiting Foundation,Whiting Award,2020,no genre,career,50000.0,NaN
7,1295,Kayleb Rae Candrilli,Kayleb Rae,Candrilli,nonbinary/they,NaN,graduate,University of Alabama,NaN,winner,Whiting Foundation,Whiting Award,2019,no genre,career,50000.0,NaN
8,1872,Raquelsalas Rivera,Raquelsalas,Rivera,nonbinary/he,University of Pennsylvania,graduate,NaN,NaN,judge,Academy of American Poets,Lenore Marshall Poetry Prize,2020,poetry,book,25000.0,A Fortune For Your Disaster
9,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1954,prose,book,15000.0,The Waking
10,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1941,prose,book,15000.0,Sunderland Capture
11,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,2012,prose,book,15000.0,No Winner
12,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1974,prose,book,15000.0,No Winner
13,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1971,prose,book,15000.0,No Winner
14,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1964,prose,book,15000.0,No Winner
15,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1957,prose,book,15000.0,No Winner
16,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1946,poetry,book,15000.0,No Winner
17,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Columbia University,Pulitzer Prize,1946,prose,book,15000.0,No Winner
18,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Academy of American Poets,Academy of American Poets Fellowship,1951,poetry,career,25000.0,NaN
19,1732,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,No Winner,winner,Yale University,Bollingen Prize for Poetry,1953,poetry,career,10000.0,NaN

Wait a minute. I don't know what's going on. At index 9, I'm starting to see a bunch of No Winners. Maybe I messed up the drop columns? What does does the inplace=True argument actually do? Let's look up some documentation.

Okay, so inplace=True makes it so you don't have to rename your dataframe. I was supposed to use axis = 1 for columns, but something is still not right. I'm going to restart the whole thing and make a new dataframe without inplace=True.

Wait a minute. I just tried to start back from reloading the data and now I'm finding that there are multiple 'No Winners'? Okay, let's see if we can check this out.

In [8]:
#Create a counter to find out how many full_names are 'No Winner'
no_win = 0
for name in df['full_name']:
    if name == 'No Winner':
        no_win += 1
    else:
        no_win += 0
print(no_win)

18

Looks like there are 18 rows without a winner! This is awesome! Not too many, just enough to do some research! 

First let's print out the the No Winners!

In [16]:
#Slice out the no_winners rows with indexing numbers found from the 
#start, plus slicing out the first 8 columns since that's all repeated 
#info

no_winners = pd.DataFrame(df.iloc[9:27, 11:])

In [18]:
no_winners

,prize_institution,prize_name,prize_year,prize_genre,prize_type,prize_amount,title_of_winning_book
9,Columbia University,Pulitzer Prize,1954,prose,book,15000.0,The Waking
10,Columbia University,Pulitzer Prize,1941,prose,book,15000.0,Sunderland Capture
11,Columbia University,Pulitzer Prize,2012,prose,book,15000.0,No Winner
12,Columbia University,Pulitzer Prize,1974,prose,book,15000.0,No Winner
13,Columbia University,Pulitzer Prize,1971,prose,book,15000.0,No Winner
14,Columbia University,Pulitzer Prize,1964,prose,book,15000.0,No Winner
15,Columbia University,Pulitzer Prize,1957,prose,book,15000.0,No Winner
16,Columbia University,Pulitzer Prize,1946,poetry,book,15000.0,No Winner
17,Columbia University,Pulitzer Prize,1946,prose,book,15000.0,No Winner
18,Academy of American Poets,Academy of American Poets Fellowship,1951,poetry,career,25000.0,NaN
19,Yale University,Bollingen Prize for Poetry,1953,poetry,career,10000.0,NaN
20,Library of Congress,Poet Laureate,1956,poetry,career,35000.0,NaN
21,Library of Congress,Poet Laureate,1955,poetry,career,35000.0,NaN
22,Library of Congress,Poet Laureate,1954,poetry,career,35000.0,NaN
23,Library of Congress,Poet Laureate,1953,poetry,career,35000.0,NaN
24,Library of Congress,Poet Laureate,1952,poetry,career,35000.0,NaN
25,Library of Congress,Poet Laureate,1942,poetry,career,35000.0,NaN
26,Library of Congress,Poet Laureate,1941,poetry,career,35000.0,NaN

18 doesn't seem like that many pieces of data to find out. Let's do some searching! Antyhing in caps is new info

9. THEODORE ROETHKE-MALE-Pulitzer-1954-POETRY-book-15000-The Waking
*need to find other information about colleges
*The prize for 1954 was $500
**Upon further research, this data row already exists. No need to re-enter it, but definitely need to delete since both books are showing up

10. LEONARD BACON-MALE-Pulitzer-1941-POETRY-book-15000-Sunderland Capture
*Same college info needed
*The prize was $1000 this year for some reason
**Upon further research, this data row already exists. No need to re-enter it, just delete.

11. No one won the prose prize this year, but Tracy Smith won for poetry so this one can be dropped!!!

12. No one won prose this year. Another delete! 

13. Ibid (!)

14. Ibid (!)

15. No prose this year. It makes me think about whether it's important to keep in the non-winners. Could be useful to predict if you don't win.

16. No prose no poetry.

17. See above.

18. Couldn't confirm this on AAP's website, but on handy Wikipedia. 
*Looks like we're getting some Nan. I want to find more of these.

19. W. H. Auden won this year. Need to change. Confirmed 

20. Nope.

21. Randall Jarrell as appointed this year. What's the deal? Maybe he shows up at a different year? It looks like in the data set, he shows up for winning the 1956, 57, and 58 for the Poet Laureate.

22. No one here.

23. Or here.

24. This is a weird one. Apparently William Carlos Williams was appointed, but did not serve? Did he get the money? Looking further into it, he was maligned by newspapers for being Communist or having Communist sympathies, and his assignment was canceled. But then people rallied behind him and get him reinstated? 

25. No one this year.

26. 1941 was the end of term for the first Poet Laureate, Joseph Auslander. He served from 1937-1941. I'll check the data. Yep, he's in here, winning all of those years.

Before I start dropping rows and changing at least index 19 and 24, I'm going to push this to the repository.